<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spirit"
    android:versionCode="174"

    android:versionName="1.2.21"
>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_launcher"
        android:label="@string/app_name"
        >
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation"
            android:label="@string/full_app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GeneralActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".AuthorActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".ConnectionActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name="com.lib.FileDialog"
            android:label="@string/short_title"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".servo.ServosActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".servo.ServosTypeActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".servo.ServosSubtrimActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".servo.ServosLimitActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".servo.ServosCyclickRingRangeActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".servo.ServosRudderEndPointsActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".senzor.SenzorSenzivityActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".senzor.SenzorActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".senzor.SenzorReverseActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".senzor.SenzorRotationSpeedActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".advanced.AdvancedActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".advanced.expert.StickDeadBandActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".advanced.GeometryAngleActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".advanced.PiroOptimalizationActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".advanced.RudderDelayActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".advanced.PirouetteConsistencyActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".advanced.RudderDynamicActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".advanced.RudderRevomixActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".advanced.expert.PitchupActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".advanced.EFilterActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".advanced.expert.CyclicPhaseActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".advanced.CyclicFFActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".diagnostic.DiagnosticActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".diagnostic.GraphActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".stabi.StabiActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".stabi.StabiFunctionActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".stabi.StabiColActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".stabi.StabiStickActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".stabi.StabiFbModeActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".diagnostic.LogActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".servo.ServoTravelCorrectionActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".FavouritesActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".stabi.StabiCtrlDirActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".DiffActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
       	<activity
            android:name=".PrefsActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
             />
       	<activity
            android:name=".general.ChannelsActivity"
             android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
       />
       <activity
            android:name=".advanced.expert.SignalProcessingActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />
        <activity
            android:name=".governor.GovernorActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />
        <activity
            android:name=".governor.GovernorModeActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />
        <activity
            android:name=".governor.GovernorGainActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".diagnostic.BecTesterActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".advanced.expert.PitchpumpActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".diagnostic.InputChannelsActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".servo.ServosReverzActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".governor.GovernorRpmSenzor"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".governor.GovernorThrRangeActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".governor.GovernorGearSettingsActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".governor.GovernorRpmMaxActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".governor.GovernorThrReverseActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />


        <activity
            android:name=".PdfActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".advanced.expert.ExpertActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />
    </application>

</manifest>