<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spirit"
    android:versionCode="192"

    android:versionName="1.3.14"
>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17"
        />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_launcher"
        android:label="@string/app_name"
        >
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation"
            android:label="@string/full_app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".heli.GeneralActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".AuthorActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".ConnectionActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name="com.lib.FileDialog"
            android:label="@string/short_title"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.servo.ServosActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.servo.ServosTypeActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.servo.ServosSubtrimActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.limit.ServosLimitActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.limit.ServosCyclickRingRangeActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.limit.ServosRudderEndPointsActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.senzor.SenzorSenzivityActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.senzor.SenzorActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.senzor.SenzorReverseActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.senzor.SenzorRotationSpeedActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.advanced.AdvancedActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.advanced.expert.StickDeadBandActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.advanced.GeometryAngleActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.advanced.PiroOptimalizationActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.advanced.RudderDelayActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.advanced.PirouetteConsistencyActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.advanced.RudderDynamicActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.advanced.RudderRevomixActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.advanced.expert.PitchupActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.advanced.EFilterActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.advanced.expert.CyclicPhaseActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.advanced.CyclicFFActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.diagnostic.DiagnosticActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.diagnostic.GraphActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.stabi.StabiActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.stabi.StabiFunctionActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.stabi.StabiColActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.stabi.StabiStickActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.stabi.StabiFbModeActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.diagnostic.LogActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.servo.ServoTravelCorrectionActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".FavouritesActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".heli.stabi.StabiCtrlDirActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".DiffActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme" />
       	<activity
            android:name=".PrefsActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
             />
       	<activity
            android:name=".heli.general.ChannelsActivity"
             android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
       />
       <activity
            android:name=".heli.advanced.expert.SignalProcessingActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />
        <activity
            android:name=".heli.governorthr.GovernorThrActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />
        <activity
            android:name=".heli.governorthr.GovernorFreqActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />
        <activity
            android:name=".heli.governorthr.governor.GovernorFineTuningActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".heli.diagnostic.BecTesterActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".heli.advanced.expert.PitchpumpActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".heli.diagnostic.InputChannelsActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".heli.servo.ServosReverzActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".heli.governorthr.governor.GovernorRpmSenzor"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".heli.governorthr.GovernorThrRangeActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".heli.governorthr.governor.GovernorGearSettingsActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".heli.governorthr.governor.GovernorRpmMaxActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".heli.governorthr.GovernorThrReverseActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />


        <activity
            android:name=".PdfActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".heli.advanced.expert.ExpertActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".heli.governorthr.governor.GovernorOnActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".heli.governorthr.governor.GovernorSpoolUpActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".heli.governorthr.governor.GovernorActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".aero.GeneralActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".aero.servo.ServosTypeActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".aero.servo.ServoReverseActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".aero.senzor.SenzorSenzivityActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".heli.limit.CollectivePitchActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".heli.stabi.StabiAcroDelayActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".aero.diagnostic.InputChannelsActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".aero.limit.LimitAilRangeActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".aero.limit.LimitEleRangeActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".aero.limit.LimitRudRangeActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".aero.stabi.StabiFunctionActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".aero.advanced.FFActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".aero.advanced.StickDeadBandActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".aero.general.ChannelsActivity"
            android:configChanges="orientation"
            android:label="@string/short_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CustomTheme"
            />

    </application>

</manifest>